@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {

  --black: #222222;
  --grey: #5A5A5A;
  --light-grey: #7C7C7C;
  --light: #D9D9D9;
  --transition: all 0.3s ease;
  --font: 'Roboto', sans-serif;

  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: normal;
  color: var(--light);
  background: var(--black);
  overflow-x: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light);
  font-weight: 500;
  text-align: left;
  transition: var(--transition);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 18px;
  line-height: 26px;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
}

a:hover {
  color: var(--grey);
  cursor: pointer;
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: var(--primary-font);
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  white-space: nowrap;
  width: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

@media (max-width: 744px) {

  h1 {
    font-size: 2.369rem;
  }

  h2 {
    font-size: 1.999rem;
  }

  h3 {
    font-size: 1.777rem;
  }

  h4 {
    font-size: 1.333rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  p {
    font-size: 14px;
    line-height: 23px;
  }
}